.main-image {
    height: 250px;
    background-color: #D0F3F4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteAdmin {
    height: 40px;
    width: 80px;
    position: absolute;
    right: 100px;
    top: 10px;

    border: none;
    border-radius: 10px;
    background-color: #ffffff;
}

.logout {
    height: 40px;
    width: 80px;
    position: absolute;
    right: 10px;
    top: 10px;

    border: none;
    border-radius: 10px;
    background-color: #ffffff;
}

.content-title {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;
    margin-bottom: 20px;
}

.dep-table {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.high-dep, .low-dep, .employee, .leader-list {
    background-color: #E0E5E5;
    width: 200px;
    height: 300px;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    border-radius: 30px;
    padding: 10px;
}

.goto-news {
    display: flex;
    align-items: center;
    justify-content: center;
}

.goto-news-botton {
    background-color: #C1DCDE;
    padding: 40px 180px;
    border-radius: 20px;
    border: none;
}
