<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
  <table class= "table">
    <tr>
      <th>이미지</th>
      <th>제목</th>
    </tr>
    <tr th:each="newsCrawl : ${newsCrawl} ">
<!--      <td><a th:href="${newsCrawl.url}"><img th:src="${newsCrawl.image}"></a></td>-->
      <td><a th:href="${newsCrawl.url}"><span th:text="${newsCrawl.subject}"></span></a></td>
      <td><a th:href="${newsCrawl.url}"><span th:text="${newsCrawl.url}"></span></a></td>
      <td><a th:href="${newsCrawl.url}"><span th:text="${newsCrawl.author}"></span></a></td>
      </a>
    </tr>
  </table>
</div>
</body>
</html>