header {
    display: flex;
    justify-content: center;
}

#flex {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.submit-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    padding: 10px;
    width: 500px;
}

.input-box {
    position: relative;
    margin: 10px 0;
}

.input-box > input {
    background: transparent;
    border: none;
    border-bottom: solid 1px #ccc;
    padding: 20px 0px 5px 0px;
    font-size: 14pt;
    width: 100%;
}
.submit-box {

}
input::placeholder {
    color: transparent;
}

input:placeholder-shown + label {
    color: #aaa;
    font-size: 14pt;
    top: 15px;

}

input:focus + label, label {
    color: #8aa1a1;
    font-size: 10pt;
    pointer-events: none;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

input:focus, input:not(:placeholder-shown) {
    border-bottom: solid 1px #8aa1a1;
    outline: none;
}

input[type=submit] {
    display: inline-block;
    text-align: center;
    background-color: #8aa1a1;
    border: none;
    color: white;
    border-radius: 5px;
    height: 35px;
    font-size: 14pt;
    margin-top: 100px;
    width: 100px;
}

input[type=button] {
    display: inline-block;
    text-align: center;
    background-color: #8aa1a1;
    border: none;
    color: white;
    border-radius: 5px;
    height: 35px;
    font-size: 14pt;
    margin-top: 100px;
    margin-left: 30px;
    width: 100px;
}