<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <link rel="stylesheet"-->
<!--          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"-->
<!--          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"-->
<!--          crossorigin="anonymous">-->
<!--    <title>Todo List</title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;<span th:style="'background-image:url('+ @{/img/bg.jpg} +');'"></span>&ndash;&gt;-->
<!--<h1 style="text-align: center; font-size: 100px; margin-top: 7%">Everybot</h1>-->
<!--<h2 style="text-align: center; font-size: 100px; margin-top: auto">Temi admin page</h2>-->

<!--<div style="margin-left: 40%; margin-top: 4%">-->
<!--    &lt;!&ndash;    <a th:href="@{/}">메인 페이지</a>&ndash;&gt;-->
<!--    <a th:href="@{/register}" class="btn btn-primary"-->
<!--       style="margin-right: 10%;font-weight: 600; font-size: 150%; color: white">Login</a>-->
<!--    <a th:href="@{/memberlist}" class="btn btn-primary"-->
<!--       style="margin-right: 20%;font-weight: 600; font-size: 150%; color: white; background-color: lightseagreen; border-color: #00cdac">sign up</a>-->
<!--    &lt;!&ndash;    <a th:href="@{/todolist}">To do list</a>&ndash;&gt;-->
<!--</div>-->

<!--</body>-->
<!--</html>-->